{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <div class="row mt-3">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="mb-3">Your Lift History</h5>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>What</th>
                            <th>How many time</th>
                            <th>Weight</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for repLog in repLogs %}
                            <tr>
                                <td>{{ repLog.itemLabel|replace({'liftable_thing.': "", "_": " "})|title }}</td>
                                <td>{{ repLog.reps }}</td>
                                <td>{{ repLog.totalWeightLifted }}</td>
                                <td>&nbsp;</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td>&nbsp;</td>
                            <th>Total</th>
                            <th>{{ totalWeight }}</th>
                            <td>&nbsp;</td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}